name: CI

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build (Linux)
        if: runner.os == 'Linux'
        run: bun build ./index.ts --compile --outfile objection-ai

      - name: Build (Windows)
        if: runner.os == 'Windows'
        run: bun build ./index.ts --compile --outfile objection-ai.exe

      - name: Upload build artifact (Linux)
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v4
        with:
          name: objection-ai-linux
          path: objection-ai

      - name: Upload build artifact (Windows)
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: objection-ai-windows
          path: objection-ai.exe
